/* 
body{
    background-color: #000000;
} */

body {
    /* background-image: url('https://images.pexels.com/photos/7120851/pexels-photo-7120851.jpeg?auto=compress&cs=tinysrgb&w=600'); */
    /* background-image: url('https://images.pexels.com/photos/8903355/pexels-photo-8903355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-image: url('https://images.pexels.com/photos/401107/pexels-photo-401107.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* background-image: url(''); */
    /* background-image: url(''); */
    background-size: cover; /* 画面全体に画像をフィット */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 繰り返しを無効に */
    background-attachment: fixed; /* 背景をスクロールせず固定 */

}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 全画面に収める */
    z-index: -1; /* 他の要素を前面に表示 */
}

.buttonOn{
    background-color: rgb(214, 214, 214) !important;
}

.buttonOff{
    background-color: rgb(129, 129, 129) !important;
}

.cursor{
    cursor: pointer;
}

input[type="text"]:focus {
    outline: none;
}
/* border-bottom: solid; border-top: none; border-right: none; border-left: none; background-color: transparent; color: aliceblue; */

input[type="text"]{
    border-bottom: solid 1px aliceblue;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    /* color: aliceblue; */
}

#dictionary{
    overflow:auto;
    width:580px;
    height:810px;
    padding:5px;
    border:1px solid #444444;
    background-color: rgba(24, 24, 24, 0.6);

    /* background-color:transparent; */
}

#addWindow{
    position: absolute;
    width: 50%;
    height: 30%;
    left: 25%;
    top: 30%;
    border: 1px solid rgb(108, 108, 108);
    background-color:rgba(0, 0, 0, 0.82);
    z-index: 10;
}

#addCloseButton:hover{
    background-color: rgb(79, 79, 79);
    fill: white;
}

#editCloseButton:hover{
    background-color: rgb(79, 79, 79);
    fill: white;
}


#addButton:hover{
    background-color: rgb(79, 79, 79);
    fill: white;
}

#reloadButton:hover{
    background-color: rgb(79, 79, 79);
    fill: white;
}

#pictureButton:hover{
    background-color: rgb(79, 79, 79);
    fill: white;
    cursor: pointer;
}


#MemoResetButton:hover{
    background-color: rgb(79, 79, 79);
    fill: white;
}

#dataCopyButton:hover{
    background-color: rgb(79, 79, 79);
    fill: white;
}

#editButton:hover{
    background-color: rgb(34, 73, 75);
    fill: rgb(151, 234, 228);
}

.isEdit{
    background-color: rgb(34, 73, 75);
    fill: rgb(151, 234, 228);
}

#submitButton:hover{
    fill: lightgreen;
}

.divData{
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
    margin-left: 10px;
    color: aqua;
}

.memoContent{}

#editWindow{
    position: absolute;
    width: 50%;
    height: 30%;
    background-color:rgba(0, 0, 0, 0.82);
    border: solid 1px rgb(214, 214, 214);
    top: 30%;
    left: 30%;
    z-index: 10;
}

#editSubmitButton:hover{
    fill: lightgreen;
}

#editDeleteButton{
    fill: rgb(170, 50, 50);
}

#editDeleteButton:hover{
    fill: rgb(255, 104, 104);
}

#deleteKakuninWindow{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 35%;
    top: 30%;
    border: 1px solid rgb(108, 108, 108);
    background-color:rgba(0, 0, 0, 0.82);
    z-index: 10;
}

#sakujoNo{
    fill: rgb(170, 50, 50);
}

#sakujoNo:hover{
    fill: rgb(255, 104, 104);
}

#sakujoExe{
    fill: rgb(50, 122, 170);
}

#sakujoExe:hover{
    fill: rgb(104, 177, 255);
}

#memoArea{
    position: absolute;
    /* overflow:auto; */
    width:1200px;
    height:810px;
    left: 33%;
    border:1px solid #444444;
    background-color: rgba(24, 24, 24, 0.6);
    /* background-color:transparent; */
}

#inputMemo{
    background-color: rgba(16, 16, 16, 0.7);
    resize: none;
    position: absolute;
    width: 700px;
    height: 100px;
    top: 11.4%;
    color: aliceblue;
    /* クリック時のアウトライン非表示 */
    outline: none;
    border: solid 1px rgb(86, 86, 86);
}

#memoAddButton{
    position: absolute;
    background-color: transparent;
    text-decoration: underline;
    color: aqua;
    left: 69%;
    top: 21%;
    border: none;
    outline: none;
    user-select: none;
}

/* メモテーブル */
table th:nth-child(1){
    width: 120px;
}

table th:nth-child(2){
    width: 180px;
}

table th:nth-child(3){
    width: 600px;
}

table th:nth-child(4){
    width: 120px;
}

table th:nth-child(5){
    width: 100px;
}

table {
    border-collapse: collapse; /* セルの隙間をなくす */
    width: 100%;
}

table, th, td {
    border: 1px solid #737373; /* グリッド線の色と太さを指定 */
    padding: 8px;           /* セルの内側の余白 */
}

th {
    background-color: rgb(20, 20, 20); /* ヘッダーの背景色 */
    position: sticky;
    top: 0;
    z-index: 1;
}

td{
    font-weight: normal;
}

/* 未・済ボタン */
.tdButtonOff{
    height: 30px;
    width: 40px;
    background-color: rgba(189, 21, 21, 0.7);
    color: white;
    border-radius: 8px;
    /* font-weight: bold; */
}

.tdButtonOn{
    height: 30px;
    width: 40px;
    background-color: rgba(86, 86, 86, 0.7);
    color: white;
    border-radius: 8px;
    /* font-weight: bold; */
}


/* 絞込みボックス */
#bunruiSort{
    border: none !important;
    width: 100px;
    color: aqua;
    /* color: rgb(137, 137, 137); */
    background-color: #242424;
}

#memoSort{
    border: none !important;
    width: 300px;
    color: aqua;
    /* color: rgb(137, 137, 137); */

    background-color: #242424;
}

#zyotaiSort{
    border: none !important;
    width: 50px;
    color: aqua;
    outline: none;
    user-select: none;
    background-color: #242424;
}

#memoTable {
    overflow-y: auto;
    height: 64%;
    box-sizing: border-box; /* パディングやボーダーを高さに含める */
}

#dictionaries{
    overflow-y: auto;
    height: 84%;
    box-sizing: border-box; /* パディングやボーダーを高さに含める */
}

.tagButton{
    /* position: absolute; */
    user-select: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(240, 250, 255);
    border-radius: 8px;
}

#shortCutSelect{
    position: absolute;
    top: 28.1%;
    left: 0.8%;
    width: 23px;
    background-color: rgb(0, 0, 0,0.5);
    color: aliceblue;
    outline: none;
}

#clearTag{
    user-select: none;
    background-color: transparent;
    color: rgb(240, 250, 255);
    border-radius: 8px;
    /* font-weight: bold; */
    /* border: dashed 2px rgb(188, 188, 188); */
}

/* ショートカットタグ */
#taskTag,#yoteTag,#rinziTag{
    background-color: rgba(222, 222, 222, 0.7);
    color: black;
}

.meisaiDeleteButton{
    user-select: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(240, 250, 255);
    border-radius: 8px;
    outline: none;
}

/* Webkit系ブラウザ用スクロールバーのカスタマイズ */
::-webkit-scrollbar {
  width: 8px; /* スクロールバーの幅 */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* トラックの背景色 */
  border-radius: 4px; /* 丸みを帯びた角 */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* スクロールバーの色 */
  border-radius: 4px;
  border: 1px solid #333; /* スクロールバーの縁 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* ホバー時の色 */
}
